<div class="powered-by">
    {% for section in site.powered_by %}
        <h3>{{ section.category }}</h3>

        <ul class="list-inline">
            {% for item in section.sites %}
                <li class="powered-by-site">
                    <a class="title" href="{{ item.url }}">{{ item.name }}</a>

                    {% if item.repo_url -%}
                        <a class="source" href="{{ item.repo_url }}"><i class="icon icon-github"></i></a>
                    {%- endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
