
/* ==|== primary styles =====================================================
   Author: Beau Simensen <beau@dflydev.com>
   ========================================================================== */

/*
#5B7C89
#98BFCC
#333333
*/

* { -moz-box-sizing: border-box; box-sizing: border-box; }

a {
    color: #333344;
}
a:visited {
    color: #434354;
}

html, body { height: 100%; }

body {
    font-size: 1em;
    color: #333333;
    font-family: arial, sans-serif;
    background-color: #5B7C89;
}

h1, h2, h3, h4 {
    text-shadow: .075em .075em .2em #aaa;
}

footer.site {
    width: 100%;
    background-color: #5B7C89;
    border-top: 1px solid #333333;
}

footer.site div.footerContent {
    padding: 1em;
    text-shadow: .1em .1em .1em #333;
    line-height: 1.5em;
}

footer.site,
footer.site a,
footer.site a:visited {
    color: #f0f0f0;
}
footer.site a {
    text-decoration: none;
}

footer.site .copyright {
    font-size: .5em;
}

footer.site .socialMedia {
    float: right;
    font-size: 1em;
    font-weight: bold;
}
footer.site .socialMedia ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer.site a:hover {
    text-decoration: underline;
}

header.site nav ul,
header.site .siteMeta,
footer.site .footerContentContainer,
.mainContent {
    margin: 0 auto;
    padding: 0 .25em;
}
.mainContent {
    padding: .25em 1em 5em 1em;
}
.mainContentContainer {
    background-color: #f0f0f0;
}
header.site nav ul,
header.site .siteMeta,
footer.site .footerContentContainer,
.mainContent {
    /*border: 1px solid blue;*/
}

header.site {
    border-bottom: 1px solid #333333;
    background-color: #5B7C89;
}
header.site nav {
    background-color: #98BFCC;
    border-bottom: 1px solid #333333;
}
header.site nav ul li {
    display: inline-block;
    padding: .25em .5em .25em 0;
    font-weight: bold;
    font-size: .5em;
}
header.site nav a {
    color: #5B7C89;
    text-decoration: none;
}
header.site .siteMeta a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
    text-shadow: .05em .05em .1em #333;
}
header.site .siteMeta a:visited {
    color: #f0f0f0;
}
header.site .siteMeta .siteTitle {
    /*font-size: 1.85em; */
    font-size: 1.15em;
    padding: .3em 0;
    margin-right: .25em;
}
header.site .siteMeta .siteSubtitle {
    /*font-size: .95em;*/
    font-size: .5em;
}
header.site .siteMeta .siteMascot a {
    display: block;
    text-indent: -20000px;
    background-image: url(sculpin-mascot-jackson-micro.png);
    width: 50px;
    height: 48px;
}

.fancySite header.site .siteMeta .siteTitle {
    display: block;
    text-align: center;
    font-size: 3.5em;
    padding: .25em 0;
    margin-right: 0;
}
.fancySite header.site .siteMeta .siteSubtitle {
    display: block;
    text-align: center;
    font-size: 1em;
    padding-bottom: 1.25em;
}
.fancySite header.site .siteMeta .siteMascot a {
    margin: 1em auto 0 auto;
}

@media only screen and (min-width: 320px) {
    .mainContent {
        /*clear: both;*/
    }
    header.site .siteMeta .siteMascot {
        float: right;
    }
    header.site .siteMeta .siteMascot a {
        margin-top: -.5em;
    }
    .fancySite header.site .siteMeta .siteMascot a {
        background-image: url(sculpin-mascot-jackson-small.png);
        width: 88px;
        height: 85px;
    }
    header.site .siteMeta .siteTitle {
        display: inline-block;
    }
    header.site .siteMeta .siteSubtitle {
        display: inline-block;
    }
    header.site nav ul li {
        font-size: .6em;
    }
}

@media only screen and (min-width: 480px) {
    .fancySite header.site .siteMeta .siteMascot {
        margin-top: -1.25em;
    }
    header.site .siteMeta .siteMascot a {
        background-image: url(sculpin-mascot-jackson-small.png);
        width: 88px;
        height: 85px;
    }
    .fancySite header.site .siteMeta .siteMascot a {
        background-image: url(sculpin-mascot-jackson-medium.png);
        width: 200px;
        height: 193px;
    }
    .fancySite header.site .siteMeta {
        font-size: 1.25em;
    }
    header.site nav ul li {
        font-size: 1em;
    }
    header.site .siteMeta .siteTitle {
        font-size: 1.85em;
        margin-right: .5em;
    }
    header.site .siteMeta .siteSubtitle {
        font-size: .95em;
    }
}

@media only screen and (min-width: 768px) {
    header.site nav ul,
    header.site .siteMeta,
    footer.site .footerContentContainer,
    .mainContent {
        max-width: 1024px;
        /* border: 1px solid blue; */
    }
    .fancySite header.site .siteMeta .siteMascot a {
        background-image: url(sculpin-mascot-jackson-large.png);
        width: 300px;
        height: 290px;
    }
    .fancySite header.site .siteMeta {
        font-size: 2em;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    header.site .siteMeta .siteMascot a {
        background-image: url(sculpin-mascot-jackson-micro@2x.png);
        background-size: 50px 48px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) {
    .fancySite header.site .siteMeta .siteMascot a {
        background-image: url(sculpin-mascot-jackson-small@2x.png);
        background-size: 88px 85px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px) {
    header.site .siteMeta .siteMascot a {
        background-image: url(sculpin-mascot-jackson-small@2x.png);
        background-size: 88px 85px;
    }
    .fancySite header.site .siteMeta .siteMascot a {
        background-image: url(sculpin-mascot-jackson-medium@2x.png);
        background-size: 200px 193px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px) {
    .fancySite header.site .siteMeta .siteMascot a {
        background-image: url(sculpin-mascot-jackson-large@2x.png);
        background-size: 300px 290px;
    }
}
