
/* ==|== primary styles =====================================================
   Author: Beau Simensen <beau@dflydev.com>
   ========================================================================== */

/*
#5B7C89 dark blue
#98BFCC light blue
#333333
*/

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html { height: 100%; }

.navbar {
	background-color: #5b7c89;
	margin-bottom: 0;
}

.navbar .navbar-toggle {
	border-color: #5b7c89;
}

.navbar .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-brand,
.navbar-brand:hover {
	color: #ffffff;
}

.navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover {
	background-color: #506E79;
}

.navbar-nav > li > a {
	color: #B1C4CB;
}

.navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover,
.navbar-nav > li > a:hover {
	color: #ffffff;
}

/*
footer.site,
section.site-meta {
	background-color: #B1C4CB;
}
*/

section.content {
	background-color: #ffffff;
	padding-bottom: 3em;
}

body {
	background-color: #B1C4CB;
}

section.site-meta a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: .05em .05em .1em #46606A;
}

section.site-meta a:visited {
    color: #ffffff;
}

section.site-meta .site-title {
    font-size: 3em;
}

section.site-meta .site-subtitle {
    font-size: 1.25em;
}

hr.site-meta {
	border: none;
	background-color: #92ACB7;
	height: 1px;
	margin: 0;
	padding: 0;
}

footer.site > .container,
section.content > .container,
section.site-meta .container {
	padding: 1em;
}

footer.site {
	font-size: .75em;
}

footer.site,
footer.site a {
	color: #5B7C89;
}

footer.site ul {
	margin: 0;
	list-style-type: none;
}

.jumbo {
	font-family: sans-serif;
	padding: 1em 0em;
	font-size: 1.375em;
	line-height: 1.375em;
}

p span {
	font-weight: bolder;
}


@media only screen and (min-width: 320px) {

	/* Small screen, non-retina */

	.site-meta .site-mascot {
	    background-image: url(sculpin-mascot-jackson-small.png);
	    background-size: contain;
	    width: 88px;
	    height: 85px;
	    float: right;
	}

	.jumbo {
		font-size: 1.5em;
	}

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

	/* Small screen, retina, stuff to override above media query */

    .site-meta .site-mascot {
        background-image: url(sculpin-mascot-jackson-small@2x.png);
	    background-size: 88px 85px;
    }

}

@media only screen and (min-width: 480px) {

	/* Medium screen, non-retina */

	section.site-meta .container {
		padding-top: 1em;
		padding-bottom: 2em;
	}

	section.site-meta .site-title,
	section.site-meta .site-subtitle {
	    text-align: center;
	    padding-right: 150px;
	}

	section.site-meta .site-title {
	    font-size: 5em;
	}

	section.site-meta .site-subtitle {
	    font-size: 1.5em;
	}

	.site-meta .site-mascot {
	    background-image: url(sculpin-mascot-jackson-medium.png);
	    width: 150px;
	    height: 146px;
	    margin-bottom: -100%;
	}

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 480px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 480px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 480px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 480px),
only screen and (                min-resolution: 192dpi) and (min-width: 480px),
only screen and (                min-resolution: 2dppx)  and (min-width: 480px) { 

	/* Medium screen, retina, stuff to override above media query */

    .site-meta .site-mascot {
        background-image: url(sculpin-mascot-jackson-medium@2x.png);
	    background-size: 150px 146px;
    }

}

@media only screen and (min-width: 600px) {

	/* Medium screen, non-retina */

	section.site-meta .container {
		padding-top: 2em;
		padding-bottom: 3em;
	}

	section.site-meta .site-title,
	section.site-meta .site-subtitle {
	    padding-right: 200px;
	}

	section.site-meta .site-title {
	    font-size: 7em;
	}

	section.site-meta .site-subtitle {
	    font-size: 1.75em;
	}

	.site-meta .site-mascot {
	    background-image: url(sculpin-mascot-jackson-medium.png);
	    width: 200px;
	    height: 194px;
	}

	.jumbo {
		font-size: 1.5em;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 600px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 600px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 600px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 600px),
only screen and (                min-resolution: 192dpi) and (min-width: 600px),
only screen and (                min-resolution: 2dppx)  and (min-width: 600px) { 

    .site-meta .site-mascot {
        background-image: url(sculpin-mascot-jackson-medium@2x.png);
	    background-size: 200px 194px;
    }

}

@media only screen and (min-width: 992px) {

	/* Large screen, non-retina */

	section.site-meta .container {
		padding-top: 3em;
		padding-bottom: 3em;
	}

	section.site-meta .site-title,
	section.site-meta .site-subtitle {
	    padding-right: 300px;
	}

	section.site-meta .site-title {
	    font-size: 9em;
	}

	section.site-meta .site-subtitle {
	    font-size: 2.5em;
	}

	.site-meta .site-mascot {
	    background-image: url(sculpin-mascot-jackson-large.png);
	    width: 240px;
	    height: 232px;
	}

	.jumbo {
		font-size: 1.875em;
	}

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 992px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 992px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 992px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 992px),
only screen and (                min-resolution: 192dpi) and (min-width: 992px),
only screen and (                min-resolution: 2dppx)  and (min-width: 992px) { 

	/* Large screen, retina, stuff to override above media query */

    .site-meta .site-mascot {
        background-image: url(sculpin-mascot-jackson-medium@2x.png);
	    background-size: 240px 232px;
    }

}

@media only screen and (min-width: 1200px) {
	section.site-meta .container {
		padding-top: 5em;
		padding-bottom: 5em;
	}

	section.site-meta .site-title {
	    font-size: 11em;
	}

	section.site-meta .site-subtitle {
	    font-size: 2.75em;
	}

	.site-meta .site-mascot {
	    /*background-image: url(sculpin-mascot-jackson-large.png);*/
	    width: 300px;
	    height: 290px;
	}

	.jumbo {
		font-size: 2.25em;
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1200px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1200px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1200px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1200px),
only screen and (                min-resolution: 192dpi) and (min-width: 1200px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1200px) { 
    .site-meta .site-mascot {
        /*background-image: url(sculpin-mascot-jackson-medium@2x.png);*/
	    background-size: 300px 290px;
    }
}